 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Segoe UI', sans-serif;
     background: #f4f4f4;
 }

 .container {
     display: flex;
     min-height: 100vh;
 }

 /* Sol - Kateqoriyalar */
 .sidebar {
     width: 300px;
     background: #ffffff;
     color: rgb(9, 4, 43);
     padding: 20px;
 }

 .sidebar h3 {
     margin-bottom: 20px;
     text-align: center;
 }

 .category-list {
     list-style: none;
 }

 .category-list li {
     padding: 12px;
     cursor: pointer;
     /* border-bottom: 1px solid #508ac4; */
     transition: 0.5s ease-in-out;
 }

 .category-list li:hover,
 .category-list li.active {
     background: #d3e3f3;
 }

 /* Orta - Məhsullar */
 .content {
     flex: 1;
     padding: 20px;
     background: white;
 }

 .products-grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
     gap: 20px;
 }

 .product-card {
     border: 1px solid #ddd;
     border-radius: 10px;
     padding: 15px;
     transition: all 0.5s ease-in;
     text-align: center;
     background: #fff;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 .product-card img {
     width: 100%;
     height: 150px;
     object-fit: contain;
     transition: all 0.5s ease-in;
     border-radius: 10px;
     margin-bottom: 10px;
     cursor: pointer;
     
 }

 .product-card img:hover {
     transform: translateY(-10px) scale(1.05);
     /* yuxarı qalxır və böyüyür */
    
     z-index: 10;
     /* digər elementlərin üstünə çıxır */
     position: relative;
 }

 .product-card h4 {
     font-size: 16px;
     margin: 10px 0;
 }

 .product-card .price {
     color: #000000;
     font-weight: bold;
     margin-bottom: 10px;
 }

 .add-to-cart {
     background: #3565eb;
     color: rgb(255, 255, 255);
     border: none;
     padding: 8px 12px;
     border-radius: 20px;
     cursor: pointer;
     width: 135px;
     height: 50px;
     transition: 0.5s ease-in-out;
 }

 .add-to-cart:hover {
     background: #002238;
     color: #ffffff;
 }

 /* Sağ - Səbət */
 .cart {
     width: 300px;
     background: #ecf0f1;
     padding: 20px;
     border-left: 1px solid #ddd;
 }

 .cart h3 {
     margin-bottom: 15px;
     text-align: center;
 }

 .cart-items {
     max-height: 70vh;
     overflow-y: auto;
     margin-bottom: 15px;
 }

 .cart-item {
     display: flex;
     justify-content: space-between;
     padding: 8px 0;
     border-bottom: 1px dashed #bbb;
     font-size: 14px;
 }

 .cart-total {
     font-weight: bold;
     text-align: right;
     font-size: 18px;
     margin-top: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .clear-cart {
     background: #599ac5;
     color: white;
     border: none;
     padding: 8px;
     width: 135px;
     height: 50px;
     border-radius: 20px;
     cursor: pointer;
     margin-top: 10px;
     transition: 0.5s ease-in;
 }

 .clear-cart:hover {
     background: #c0392b;
 }

 @media (max-width: 992px) {
     .container {
         flex-direction: column;
     }

     .sidebar,
     .cart {
         width: 100%;
     }

     .sidebar {
         order: 1;
     }

     .content {
         order: 2;
     }

     .cart {
         order: 3;
     }
 }